@model Diplomado.Entities.Category
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Persist","Home"))
        {
            <div>ID: @Html.TextBoxFor(c=> c.CategoryID)</div>
            <div>Nombre: @Html.TextBoxFor(c=> c.CategoryName)</div>
            <div><input type="submit" name="btnUpdate" value="Actualizar"/></div>
            <div><input type="submit" name="btnDelete" value="Eliminar"/></div>

        }
    </div>
</body>
</html>
