@model List<Diplomado.Entities.Category>
    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
    <div>
        @using (Html.BeginForm())
        {
            <div>Categoria:</div>
            <div><input type="text" name="categoryName"/></div>
            <div><input type="submit" value="Crear"/></div>
        }

    </div>
    <br />
    <table>
        <tr>
            <td>ID</td><td>Nombre</td>
        </tr>
        @foreach (var dto in Model)
        {
            <tr><td>@dto.CategoryID</td><td>@dto.CategoryName</td></tr>
        }
    </table>
    </body>
</html>
